<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Todolistme-test" >
    <test name="test1" >
        <classes>
            <class name="com.github.binarySmile.todolistautotest.tests.CategoryPanelTest"/>
            <class name="com.github.binarySmile.todolistautotest.tests.MovingTodoTest"/>
            <class name="com.github.binarySmile.todolistautotest.tests.NewListTest"/>
            <class name="com.github.binarySmile.todolistautotest.tests.TodoPanelTest"/>
        </classes>
    </test>
</suite>