<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestTodoList" verbose="2" >
    <test name="test1" >
        <classes>
            <class name="todolist.my.test.tests.TestTodoPanel"/>
            <class name="todolist.my.test.tests.TestNewList"/>
            <class name="todolist.my.test.tests.TestCategoryPanel"/>
        </classes>
    </test>
</suite>